extends layout

block content
    div.container
        h1= title

        form(method="post")

            .form-group.row
                label.col-form-label.col-sm-2(for="inputTitle") Election Title:
                .col-sm-4
                    input(type="text", class="form-control", name="electionTitle", id="inputTitle", placeholder="Title", required)
            
            .form-group
                label(for="electionDescription") Election Decription
                textarea.form-control(id="electionDescription", name="electionDescription", rows="6", required)

            .form-group.row
                button.btn.btn-outline-secondary.add Add Statement

            .form-group.row.statement
                .col-sm-8
                    input(type="text", class="form-control", name="electionStatement", id="inputStatement", placeholder="New Statement", required)
                button.btn.btn-danger.remove Delete

            .form-group.row
                label.col-form-label.col-sm-2(for="inputAmount") Token Amount:
                .col-sm-4
                    input(type="number", class="form-control", name="electionTokenAmount", id="inputAmount", placeholder="Amount", required)


            button.btn.btn-primary(type="submit") Create Election
                
            
    script.
        $(".add").click(function() {
          $(".statement:first").clone(true).insertBefore(".form-group:last");
          return false;
        });

        $(document).on('click', '.remove', function() {
          if($(".statement").length > 1) {
              $(this).parent().remove();
          } else {
              return false;
          }
        });  
