extends layout

block content
    .container
        h1.text-center Results for #{title}

        .table-responsive
            table.table
                thead
                    tr
                        th(scope="col") #
                        for h in header
                            th(scope="col") #{h}

                tbody
                    for row, i in data
                        tr
                            th(scope="row") #{i}
                            for e in row
                                td #{e}
